/* src/App.css */
body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh; /* Ensure body takes full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 3em;
  margin-bottom: 20px;
  color: #5A0D1C;
}

span {
  font-size: 1.5em;
  color: #5A0D1C;
}

.button{
  background-color: #f4a6c6;

}


@media (max-width: 768px) {
  .title {
    font-size: 24px; /* Decrease the font size */
  }

  .advice {
    font-size: 14px;
  }
}
